*{margin: 0; padding: 0; color: inherit; text-decoration: none;}
ul,ol{list-style: none;}
img{vertical-align: top;}
input, select, option, button{border: 0; background-color: rgba(255,255,255,0);}

.wrap{
    /* 각 섹션 내부 여백을 잡기 위한 구조 */
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

header{position: fixed; top: 0; left: 50%; transform: translate(-50%, 0); width: 100%; max-width: 1200px; display: flex; align-items: center; justify-content: space-between;}

header h1{
    font-size: 20px;
    padding: 10px 20px;
}
header .gnb{display: flex; padding: 10px 20px;}
header .gnb li{margin-left: 15px;}

.section-1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    /* background-color: ; */
}

.section-1::after{
    content: '';
    display: block;
    width: 30vw;
    height: 30vw;
    background-color: #ffd0008f;
    /* background-color: #ffd000; */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(15px);
}

.section-1 h2{
    font-family: 'Pacifico', cursive;
    font-size: 84px;
    color: #9b00ff;
    position: relative;
    z-index: 999;
}
.section-1 .memoji{
    width: 100%;
    margin-top: -60px;
}


.section-1 .memoji img{
    width: 10%;
    z-index: 999;
    position: relative;
}

.section-1 .intro-text{
    position: relative;
    z-index: 999;
    margin-top: 20px;
    font-size: 14px;
    font-weight:bold;
    color: rgb(114, 114, 114);
}
.section-1 .intro-text h3{
    font-size: 32px;
    color: #000;
}

/* section-2 */
.section-2{background-color: #9b00ff;}
.section-2 .intro-message{
    line-height: 1.5;
}
.section-2 .intro-message h3{
    color: #ffd000;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-bottom: 40px;
}

.section-2 .intro-message .text-wrapper{
    display: flex;
    justify-content: space-between;
}
.section-2 .intro-message .txt1{
    color: #fff;
    width: calc(100% - 20px);
    margin-right: 20px;
}
.section-2 .intro-message .txt2{
    color: #fff;
    width: calc(100% - 20px);
    margin-left: 20px;
}

.section-3{}
.section-3 .wrap{
    display: flex;
    flex-wrap: wrap;
}
.section-3 h3{
    width: 100%;
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
    color: #9b00ff;
}

.section-3 .visual{
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3 .visual img{
    width: 50%;
}

.section-3 .information{
    width: calc(50% - 20px);
}

.section-3 .information {}
.section-3 .information .edu{
    margin-bottom: 30px;
}
.section-3 .information .experience{
    margin-bottom: 30px;
}
.section-3 .information .stack{}

.section-3 .information div h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-3 .information div .list{
    display: flex;
    line-height: 1.5;
    justify-content: space-between;
    align-items: center;
}
.section-3 .information div .list .title{}
.section-3 .information div .list .period{
    font-size: 14px;
    color: #888;
}

.section-3 .information .stack{
    display: flex;
    flex-wrap: wrap;
}
.section-3 .information .stack h4{width: 100%;}
.section-3 .information .stack .list{
    width: 20%;
    box-sizing: border-box;
    padding: 0 10px 10px;
    display: block;
}
.section-3 .information .stack .list .icon{}
.section-3 .information .stack .list .icon img{
    width: 100%;
}
.section-3 .information .stack .list .tit{
    font-size: 14px;
    margin-top: 16px;
    font-weight: bold;
    text-align: center;
}

/* 슬라이더 영역 */
.section-4 h3{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
    color: #9b00ff;
}
.section-4 .swiper .swiper-wrapper .swiper-slide img{width: 100%;}
.section-4 .swiper .swiper-wrapper .swiper-slide .title{
    margin-top: 16px;
}

/* 꼴라쥬 영역 */
.section-5{
    background-color: lightyellow;
}
.section-5 h3{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
    color: #9b00ff;
    width: 100%;
}
.section-5 .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-5 .wrap .column{
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
}
.section-5 .wrap .column:last-child{margin-right: 0;}
.section-5 .wrap .column .item{
    margin-bottom: 20px;
    overflow: hidden;
}
.section-5 .wrap .column .item img{width: 100%; transition: all 0.3s;}
.section-5 .wrap .column .item:hover img{
    transform: scale(1.1);
}

.section-5 .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
}
.section-5 .popup .image-focus img{
    max-width: 80vw;
    max-height: 80vh;
}

footer{
    background-color: #ffd000;
}
footer .wrap{
    display: flex;
    align-items: flex-end;
}
footer h3{
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
    color: #9b00ff;
    width: 50%;
}

footer address{
    width: 100%;
    font-style: normal;
}
footer address ul{display: flex; justify-content: space-between;}
footer address ul li{}
footer address ul li h4{
    margin-bottom: 16px;
}
footer address ul li h4 p{
    font-size: 14px;
}